<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Suraj/Downloads/Sample1">
        <classes>
            <class name="com.sample.tests.PubSubTest">
                <methods>
                    <include name="publishMessage"/>
                    <include name="subscribeMessage"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>